<style>
title{font-family: Verdana;}
body {background-color: #EEEDE7;}

h1{font-family: monospace;}
p{font-family: sans-serif;}
hr{height: 20px;
  border-style: dotted;
background-color: #B9B7BD;}
</style>
